<div class="jumbotron tab-pane row m-4 part0" id="compnum" role="tabpanel" aria-labelledby="compnum-tab">
<div class="col-md-6 subSkills">
      <h4 id="langageText mb-4">Langages</h4>
      <div class="skillbar grow clearfix" data-percent="80%">
      	<div class="skillbar-title" style="background: #d35400;"><img src="images/html.png"><span>HTML5</span></div>
      	<div class="skillbar-bar" style="background: ##1f75c4;"></div>
      	<div class="skill-bar-percent">80%</div>
      </div>
      <div class="skillbar clearfix grow" data-percent="40%">
      	<div class="skillbar-title" style="background: #edd628;"><img src="images/js.png"><span>JavaScript</span></div>
      	<div class="skillbar-bar" style="background: #fce537;"></div>
      	<div class="skill-bar-percent">40%</div>
      </div>
      <div class="skillbar clearfix grow" data-percent="30%">
      	<div class="skillbar-title" style="background: #616491;"><img src="images/php.png"><span>PHP</span></div>
      	<div class="skillbar-bar" style="background: #868bc9;"></div>
      	<div class="skill-bar-percent">(en cours) 30%</div>
      </div>
      <div class="skillbar clearfix grow" data-percent="60%">
      	<div class="skillbar-title" style="background: #407c0e;"><img src="images/wordpress.png"><span>Wordpress</span></div>
      	<div class="skillbar-bar" style="background: #5aaf15;"></div>
      	<div class="skill-bar-percent">60%</div>
      </div>
    </div>
    <!-- Frameworks et bibliothèqyes -->
    <div class="col-md-6 subSkills">
      <h4 id="frameworksText mb-4">Frameworks et bibliothèques</h4>
      <div class="skillbar clearfix grow" data-percent="80%">
      	<div class="skillbar-title" style="background: #473466;"><img src="images/bootstrap.png"><span>Bootstrap</span></div>
      	<div class="skillbar-bar" style="background: #61458e;"></div>
      	<div class="skill-bar-percent">80%</div>
      </div>
      <div class="skillbar clearfix grow" data-percent="60%">
      	<div class="skillbar-title" style="background: #2c3e50;"><img src="images/jquery.png"><span>jQuery</span></div>
      	<div class="skillbar-bar" style="background: #2c3e50;"></div>
      	<div class="skill-bar-percent">40%</div>
      </div>
      <div class="skillbar clearfix grow" data-percent="50%">
      	<div class="skillbar-title" style="background: #c4352f;"><img src="images/angular.png"><span>AngularJS</span></div>
      	<div class="skillbar-bar" style="background: #de3c30;"></div>
      	<div class="skill-bar-percent">50%</div>
      </div>
    </div>
  </div>
</div>
