<div class="tab-pane jumbotron" id="compnum" role="tabpanel" aria-labelledby="compnum-tab">
    <div class="row justify-content-center col-md-12">
        <div class="col-md-4">
            <h3 class="text-center mt-3">Langages</h3>
            <p class="progress-title">HTML</p>
            <div class="progress">
                <div class="progress-bar" style="width: 90%; background:#1f75c4;">
                    <img class="progress-icon blue" src="images/html.png">
                    <div class="progress-value"><span>80</span>%</div>
                </div>
            </div>
            <p class="progress-title">Javascript</p>
            <div class="progress">
                <div class="progress-bar" style="width: 45%; background:#1f75c4;">
                    <img class="progress-icon blue" src="images/js.png">
                    <div class="progress-value"><span>45</span>%</div>
                </div>
            </div>
            <p class="progress-title">PHP</p>
            <div class="progress">
                <div class="progress-bar" style="width: 30%; background:#1f75c4;">
                    <img class="progress-icon blue" src="images/php.png">
                    <div class="progress-value"><span>En cours</span></div>
                </div>
            </div>
            <p class="progress-title">SQL</p>
            <div class="progress">
                <div class="progress-bar" style="width: 39%; background:#1f75c4;">
                    <img class="progress-icon blue" src="images/sql.png">
                    <div class="progress-value"><span>En cours</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="text-center mt-3">Frameworks</h3>
            <p class="progress-title">Boostrap</p>
            <div class="progress green">
                <div class="progress-bar green" style="width: 80%; background:#279c3a;">
                    <img class="progress-icon green" src="images/bootstrap.png">
                    <div class="progress-value green"><span>80</span>%</div>
                </div>
            </div>
            <p class="progress-title">Angular JS</p>
            <div class="progress green">
                <div class="progress-bar green" style="width: 50%; background:#279c3a;">
                    <img class="progress-icon green" src="images/angular.png">
                    <div class="progress-value green"><span>50</span>%</div>
                </div>
            </div>
            <h3 class="text-center mt-3">Librairie</h3>
            <p class="progress-title">Jquery</p>
            <div class="progress orange">
                <div class="progress-bar orange" style="width: 40%; background:#e39927;">
                    <img class="progress-icon orange" src="images/jquery.png">
                    <div class="progress-value orange"><span>40</span>%</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="text-center mt-3">Outils</h3>
            <p class="progress-title">Github</p>
            <div class="progress purple">
                <div class="progress-bar purple" style="width: 70%; background:#8930dc;">
                    <img class="progress-icon purple" src="images/github.png">
                    <div class="progress-value purple"><span>70</span>%</div>
                </div>
            </div>
            <p class="progress-title">Git</p>
            <div class="progress purple">
                <div class="progress-bar purple" style="width: 40%; background:#8930dc;">
                    <img class="progress-icon purple" src="images/git.png">
                    <div class="progress-value purple"><span>40</span>%</div>
                </div>
            </div>
            <p class="progress-title">Atom</p>
            <div class="progress purple">
                <div class="progress-bar purple" style="width: 70%; background:#8930dc;">
                    <img class="progress-icon purple" src="images/atom.png">
                    <div class="progress-value purple"><span>70</span>%</div>
                </div>
            </div>
            <p class="progress-title">Netbeans</p>
            <div class="progress purple">
                <div class="progress-bar purple" style="width: 20%; background:#8930dc;">
                    <img class="progress-icon purple" src="images/netbeans.png">
                    <div class="progress-value purple"><span>20</span>%</div>
                </div>
            </div>
        </div>
    </div>
</div>
