<div class="jumbotron tab-pane row m-4 " id="compnum" role="tabpanel" aria-labelledby="compnum-tab">
    <div class="justify-content-center col-4">
        <div class="col-md-12">
            <h3 class="text-center">Langages</h3>
            <p class="progress-title">HTML</p>
            <div class="progress grow hover">
                <div class="progress-bar" style="width: 60%; background:#1f75c4;">
                    <img class="progress-icon orange " src="images/html.png">
                    <div class="progress-value"><span>60</span>%</div>
                </div>
            </div>
            <p class="progress-title">Javascript</p>
            <div class="progress grow">
                <div class="progress-bar" style="width: 45%; background:#1f75c4;">
                    <img class="progress-icon orange " src="images/js.png">
                    <div class="progress-value"><span>45</span>%</div>
                </div>
            </div>
            <p class="progress-title">PHP</p>
            <div class="progress grow">
                <div class="progress-bar" style="width: 20%; background:#1f75c4;">
                    <img class="progress-icon green " src="images/php.png">
                    <div class="progress-value"><span>20</span>%</div>
                </div>
            </div>
            <h3 class="text-center mt-5">Base de donnée</h3>
            <p class="progress-title">SQL</p>
            <div class="progress grow">
                <div class="progress-bar" style="width: 20%; background:#1f75c4;">
                    <img class="progress-icon green" src="images/sql.png">
                    <div class="progress-value"><span>20</span>%</div>
                </div>
            </div>
        </div>
    </div>
    <div class=" justify-content-center col-4">
        <div class="col-md-12">
            <h3 class="text-center">Frameworks</h3>
            <p class="progress-title">Boostrap</p>
            <div class="progress green">
                <div class="progress-bar green grow" style="width: 90%; background:#279c3a;">
                    <img class="progress-icon green" src="images/bootstrap.png">
                    <div class="progress-value green"><span>90</span>%</div>
                </div>
            </div>
            <p class="progress-title">Angular</p>
            <div class="progress green grow">
                <div class="progress-bar green" style="width: 45%; background:#279c3a;">
                    <img class="progress-icon green" src="images/angular.png">
                    <div class="progress-value green"><span>45</span>%</div>
                </div>
            </div>
            <h3 class="text-center mt-5">Librairie</h3>
            <p class="progress-title">Jquery</p>
            <div class="progress orange grow">
                <div class="progress-bar orange" style="width: 30%; background:#e39927;">
                    <img class="progress-icon orange" src="images/jquery.png">
                    <div class="progress-value orange"><span>30</span>%</div>
                </div>
            </div>
        </div>
    </div>
    <div class=" justify-content-center col-4">
    <div class="col-md-12">
        <h3 class="text-center">Outils</h3>
        <p class="progress-title">Github</p>
        <div class="progress purple grow">
            <div class="progress-bar purple" style="width: 80%; background:#8930dc;">
                <img class="progress-icon purple" src="images/github.png">
                <div class="progress-value purple"><span>80</span>%</div>
            </div>
        </div>
        <p class="progress-title">Git</p>
        <div class="progress purple grow">
            <div class="progress-bar purple" style="width: 40%; background:#8930dc;">
                <img class="progress-icon purple" src="images/git.png">
                <div class="progress-value purple"><span>40</span>%</div>
            </div>
        </div>
        <p class="progress-title">Atom</p>
        <div class="progress purple grow">
            <div class="progress-bar purple" style="width: 90%; background:#8930dc;">
                <img class="progress-icon purple" src="images/atom.png">
                <div class="progress-value purple"><span>90</span>%</div>
            </div>
        </div>
        <h3 class="text-center mt-5">CMS</h3>
        <p class="progress-title">Wordpress</p>
        <div class="progress grow">
            <div class="progress-bar " style="width: 50%; background:#FF0000;">
                <img class="progress-icon " src="images/wordpress.png">
                <div class="progress-value "><span>50</span>%</div>
            </div>
        </div>
    </div>
</div>
</div>
