<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-6">
            <form name="contact">
                <!-- nom -->
                <label for="username" class="my-0">Nom:</label>
                <input id="username" name="username" type="text" maxlength="50" class="form-control" required placeholder="Votre nom"/>
                <!-- adresse email -->
                <label for="email" class="my-0">Email:</label>
                <input id="email" name="email"  type="email" class="form-control" required placeholder="Votre email"/>
                <!-- sujet du message -->
                <label for="subject" class="my-0">Sujet:</label>
                <input id="subject" name="subject"  type="text" class="form-control" required placeholder="Sujet de votre demande"/>
                <!-- message -->
                <label for="message" class="my-0">Votre message:</label>
                <textarea id="message" name="message"  rows="8" class="form-control" required style="resize:none;" placeholder="Votre message"></textarea>
                <!-- bouton de validation -->
                <button type="button" name="submit" class="btn btn-primary mb-5">Envoyer</button>
            </form>
        </div>
        <div class="col-6">
            <h1>Contactez-moi</h1>
            <p class="grow">&#x2706; 0618815620</p>
            <a href="mailto:derkaouihassan19@gmail.com?subject=Cher%20monsieur%20Derkaoui"><p class="grow">&#9993; derkaouihassan19@gmail.com</p>
                <a href="https://github.com/Hassan60200" title="Mon lien github"><img src="images/icons-github.png" class="grow" alt="github">
                    <a href="https://www.linkedin.com/in/hassan-derkaoui-79013b14a/" title="Mon lien linkedin"><img src="images/icons-linkedin.png" class="grow" alt="linkedin">
                    </div>
                </div>
            </div>
