<div class="col-md-12 mt-4">
    <div class="jumbotron tab-pane text-center" id="diplomes" role="tabpanel" aria-labelledby="diplomes-tab">
    <div class="diplome-center mb-5 titre-margin">
        <h3>Diplomes</h3>
        <p>2019:Formation développeur web LA MANU d'Amiens.</p>
        <p>2018:Cours de développement web sur OpenClassroom.</p>
        <p>2017-2018:Licence pro GRH CNAM HAUT DE FRANCE.(non obtenue).</p>
        <p>2015-2017:DUT GEA GRH IUT AMIENS.</p>
        <p>2013-2015:Bac STMG RH Lycée Mireille Grenet.</p>
    </div>
</div>
</div>
