<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture"><img src="images/graduate.svg" alt="">
        </div>

        <div class="cd-timeline-content grow">
            <h2>Formation développeur web LA MANU d'Amiens</h2>
            <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                </span>
                <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    mars 2019 - septembre 2019
                </span>
            </div>
            <p> Formation de 6 mois permettant de maîtriser les langages orientés web. Ces langages s’accompagnent de différents outils issus du travail de développeur comme les frameworks.</p>
            <ul class="content-skills">
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>Angular JS</li>
                <li>Wordpress</li>
                <li>PHP</li>
            </ul>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie"><img src="images/graduate.svg" alt="">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content grow">
            <h2>Autodidacte sur OpenClassroom</h2>
            <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                depuis novembre 2018 - Présent
            </span>
            <p>Apprentissage de différents langages de programmation.</p>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture"><img src="images/graduate.svg" alt="">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content grow">
            <h2>Licence pro GRH CNAM HAUT DE FRANCE</h2>
            <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                2017-2018
            </span>
            <p>Diplôme non obtenue.</p>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location"><img src="images/graduate.svg" alt="">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content grow">
            <h2>DUT GEA GRH IUT AMIENS</h2>
            <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                2015-2017
            </span>
            <p>Diplôme obtenue</p>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location"><img src="images/graduate.svg" alt="">
        </div>

        <div class="cd-timeline-content grow">
            <h2>Bac STMG RH Lycée Mireille Grenet</h2>
            <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                2013-2015
            </span>
            <p>Diplôme obtenue</p>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

</section> <!-- cd-timeline -->
