<div class="container">
            <div class=" jumbotron row">
                <div class="col-md-12">
                    <div class="main-timeline4">
                        <div class="timeline">
                            <a class="timeline-content">
                                <span class="year">2019</span>
                                <div class="inner-content">
                                    <h3 class="title">Formation développeur web LA MANU d'Amiens</h3>
                                    <p class="description">Formation de 6 mois permettant de maîtriser les langages orientés web. Ces langages s’accompagnent de différents outils issus du travail de développeur comme les frameworks.</p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a  class="timeline-content">
                                <span class="year">2018</span>
                                <div class="inner-content">
                                    <h3 class="title">Autodidacte sur OpenClassroom</h3>
                                    <p class="description">Apprentissage de différents langages de programmation.</p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a class="timeline-content">
                                <span class="year">2017</span>
                                <div class="inner-content">
                                    <h3 class="title">Licence pro GRH CNAM HAUT DE FRANCE</h3>
                                    <p class="description">Diplôme non obtenue.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a class="timeline-content">
                                <span class="year">2017</span>
                                <div class="inner-content">
                                    <h3 class="title">DUT GEA GRH IUT AMIENS</h3>
                                    <p class="description">Diplôme obtenue
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a class="timeline-content">
                                <span class="year">2015</span>
                                <div class="inner-content">
                                    <h3 class="title">Bac STMG RH Lycée Mireille Grenet</h3>
                                    <p class="description">Diplôme obtenue
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
