<div class="col-md-12 mt-4">
    <div class="jumbotron text-center" id="experience" role="tabpanel" aria-labelledby="experience-tab">
        <h3>Experience</h3>
        <p>2015-2018:Manutentionnaire au sein de différentes entreprises. (Oise 60)</p>
        <p>Février 2018:Contrôleur qualité au sein de  Chanel. (Vémars 95)</p>
        <p>Janvier 2018:Équipier de vente au sein de  H M. (Compiègne 60)</p>
        <p>Mai-Juin 2017: Stagiaire chargé de recrutement au sein de  StartPeople. (Compiègne 60)</p>
        <p>Juillet 2016: Stagiaire chargé de recrutement au sein de CRIT. (Compiègne 60)</p>
    </div>
</div>
