<!--
<h1>2018</h1>
<p>2015-2018:Manutentionnaire au sein de différentes entreprises. (Oise 60)</p>
<p>Février 2018:Contrôleur qualité au sein de  Chanel. (Vémars 95)</p>
<p>Janvier 2018:Équipier de vente au sein de  H M. (Compiègne 60)</p>

<h1>2017</h1>

<h1>2016</h1>
<p>Juillet 2016: Stagiaire chargé de recrutement au sein de CRIT. (Compiègne 60)</p>

<h1>2015</h1>
<p>2015-2018:Manutentionnaire au sein de différentes entreprises. (Oise 60)</p>
-->
<ul class="timeline-bagde danger">
    <li class="tl-item">
        <div class="tl-icon"><img src="images/suitcase.svg" alt=""></div>
        <div class="tl-time"><h1>2018</h1></div>
        <div class="tl-content">
                <h2>Contrôleur qualité</h2>
                <small>Février : au sein de  Chanel. (Vémars 95)</small>
                <p>Contrôler la conformité de la fabrication en fonction des
                    normes et procédures.</p>
                    <h2>Équipier de vente</h2>
                    <small>Janvier : au sein de  H M. (Compiègne 60)</small>
                    <p>Proposer un service, produit adapté à la demande client</p>
                    <p>Disposer des produits sur le lieu de vente</p>
                    <p>Accueillir la clientèle</p>
                </div>
            </li>
            <li class="tl-item tl-right">
                <div class="tl-icon"><img src="images/suitcase.svg" alt=""></div>
                <div class="tl-time"><h1>2015-2018</h1></div>
                <div class="tl-content">
                    <h2>Manutentionnaire</h2>
                    <small>au sein de différentes entreprises. (Oise 60)</small>
                    <p>Chargement et déchargement de marchandises
                        Emballage et conditionnement pour transport.</p>
                        </div>
                    </li>
            <li class="tl-item ">
                <div class="tl-icon"><img src="images/suitcase.svg" alt=""></div>
                <div class="tl-time"><h1>2017</h1></div>
                <div class="tl-content">
                    <h2>Stagiaire chargé de recrutement</h2>
                    <small>Juillet : au sein de STARTPEOPLE. (Compiègne 60)</small>
                    <p>Sourcing: recherche du bon profil sur les fichiers internes ou
                        directement sur des sites d’emplois.</p>
                        <p>Archivage des contrats, des relèves d’heures et des visites
                            médicales.</p>
                        </div>
                    </li>
                    <li class="tl-item tl-right">
                        <div class="tl-icon"><img src="images/suitcase.svg" alt=""></div>
                        <div class="tl-time"><h1>2016</h1></div>
                        <div class="tl-content">
                            <h2>Stagiaire chargé de recrutement</h2>
                            <small>Juillet : au sein de CRIT. (Compiègne 60)</small>
                            <p>Archivage de contrat et de dossier d’inscriptions sous
                                format papier.</p>
                                <p>Sourcing : recherche de profil uniquement dans les fichiers
                                    internes.</p>
                                </div>
                            </li>
</ul>
