<div class="container">
    <div class=" jumbotron row">
        <div class="col-md-12">
            <div class="main-timeline4">
                <div class="timeline">
                    <a class="timeline-content">
                        <span class="year">2018</span>
                        <div class="inner-content">
                            <h3 class="title">Contrôleur qualité</h3>
                            <small class="font-weight-bold">Février : au sein de Chanel. (Vémars 95)</small>
                            <p class="description">
                                Contrôler la conformité de la fabrication en fonction des
                                normes et procédures.</p>
                            </div>
                        </a>
                    </div>
                    <div class="timeline">
                        <a class="timeline-content">
                            <span class="year">2018</span>
                            <div class="inner-content">
                                <h2>Équipier de vente</h2>
                                <small class="font-weight-bold">Janvier : au sein de  H&M. (Compiègne 60)</small>
                                <p class="description">Proposer un service, produit adapté à la demande client</p>
                                <p class="description">Disposer des produits sur le lieu de vente</p>
                                <p class="description">Accueillir la clientèle</p>
                            </div>
                        </a>
                    </div>
                    <div class="timeline">
                        <a  class="timeline-content">
                            <span class="year">2018</span>
                            <div class="inner-content">
                                <h3 class="title">Manutentionnaire</h3>
                                <small class="font-weight-bold">au sein de différentes entreprises. (Oise 60)</small>
                                <p class="description">Chargement et déchargement de marchandises.</p>
                                <p class="description">Emballage et conditionnement pour transport.</p>
                            </div>
                        </a>
                    </div>
                    <div class="timeline">
                        <a class="timeline-content">
                            <span class="year">2017</span>
                            <div class="inner-content">
                                <h3 class="title">Stagiaire chargé de recrutement</h3>
                                <small class="font-weight-bold">Juillet : au sein de STARTPEOPLE. (Compiègne 60)</small>
                                <p class="description">Sourcing: recherche du bon profil sur les fichiers internes ou directement sur des sites d’emplois.</p>
                                <p class="description">Archivage des contrats, des relèves d’heures et des visitesmédicales.</p>
                            </div>
                        </a>
                    </div>
                    <div class="timeline">
                        <a class="timeline-content">
                            <span class="year">2016</span>
                            <div class="inner-content">
                                <h3 class="title">Stagiaire chargé de recrutement</h3>
                                <small class="font-weight-bold">Juillet : au sein de CRIT. (Compiègne 60)</small>
                                <p class="description">Archivage de contrat et de dossier d’inscriptions sous
                                    format papier.</p>
                                    <p class="description">Sourcing : recherche de profil uniquement dans les fichiers
                                        internes.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
