<div class="bd-example mt-4">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/web.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Le monde du web</h5>
          <p>Continuer sans cesse d'apprendre de nouvelles technologies.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/football.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Le football</h5>
          <p>Passioné depuis tout petit, j'ai pu développer mon esprit d'équipe.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/voyage.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Le voyage</h5>
          <p>Le gout d'apprendre de nouvelles choses et de découvrir de nouvelles cultures.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/livre.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>La lecture</h5>
          <p>Développement de la patience.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/jeuxvideo.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Les jeux-vidéos</h5>
          <p>Développement de reflexe.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Précédant</span>
    </a>
    <a class="carousel-control-next" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Suivant</span>
    </a>
  </div>
</div>
