<div class="container-fluid">
<section class="jumbotron">
<h1 class="text-center grow mb-4">Mes centres d'intérêts</h1>
<div class="row text-center mt-5">
    <div class="col large-col-2">
    <img src="images/web.png" class="grow" alt="code">
    <p class="font-weight-bold grow-sm">Web</p>
    <small>Découvrir de nouvelles techniques, technologies.</small>
    </div>
    <div class="col large-col-2">
    <img src="images/football.png" class="grow" alt="football">
    <p class="font-weight-bold">Football</p>
    <small>Passioné depuis tout petit, j'ai pu développer mon esprit d'équipe.</small>
    </div>
    <div class="col large-col-2">
    <img src="images/manette.png" class="grow" alt="videogames">
    <p class="font-weight-bold">Jeux-vidéos</p>
    <small>Développement de reflexe.</small>
    </div>
    <div class="col large-col-2">
    <img src="images/voyage.png"  class="grow"alt="travel">
    <p class="font-weight-bold">Voyage</p>
    <small>Le gout d'apprendre de nouvelles choses et de découvrir de nouvelles cultures.</small>
    </div>
    <div class="col large-col-2">
    <img src="images/livres.png" class="grow" alt="read">
    <p class="font-weight-bold">Lectures</p>
    <small>Développement de la patience, de l'imagination.</small>
    </div>
</div>
</section>
</div>
