<div class="jumbotron tab-pane mt-4" id="projet" role="tabpanel" aria-labelledby="projet-tab">
    <div class="row justify-content-around">
        <h3 class="col-md-12 text-center titre-no-margin">Mes Projets :</h3>
        <div class="card m-3">
            <img class="card-img-top" src="images/montreHomme.png" alt="I-watch">
            <div class="card-body">
                <h4 class="card-title">Site e-commerce : I-watch</h4>
                <p class="card-text">
                    Création site e-commerce en jquery</p>
                    <li>Projet de 3 jours.</li>
                    <li>Équipe de 4.</li>
                    <li>Bouton panier et description des produits fonctionnels.</li>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Appuyez</button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Projet I-watch</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img class="card-img-top" src="images/montrefemme.png" alt="I-watch">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card  m-3">
                    <img class="card-img-top" src="images/OrionNebula.jpg" alt="OrionNebula">
                    <div class="card-body">
                        <h4 class="card-title">Site e-commerce : milleniumconcordia</h4>
                        <p class="card-text">
                            Projet en angular js:
                            <li>Utilisation des routes dans les catégories.</li>
                            <li>Utilisation d'un JSON.</li>
                            <li>Chef de projet d'une équipe de 3.</li>
                            <li>Projet de 3 jours.</li>
                        </p>
                        <a href="https://hassan60200.github.io/milleniumconcordia/index.html#!/planetes" class="btn btn-primary">Appuyez</a>
                    </div>
                </div>
                <div class="card  m-3">
                    <img class="card-img-top" src="images/Rbnb.png" alt="Airbnb sans les droits">
                    <div class="card-body">
                        <h4 class="card-title">Reproduction du site airbnb</h4>
                        <p class="card-text">
                            Création d’un site vitrine
                            <li>Utilisation uniquement en HTML et CSS.</li>
                            <li>Projet de 4 jours.</li>
                            <li>Équipe de 3.</li>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
