<div class="col-md-12 mt-4 mb-4">
    <div class="jumbotron text-center text-dark mt-6">
        <h2>A Propos</h2>
        <p>Après mes études en Ressources Humaines, je me suis orienté dans des études dans le développement web car c'est un métier en forte progression et qui donne la chance à tous les jeunes diplomés. Je me suis donc tourné vers La Manu d'Amiens pour pouvoir effectuer une formation de développeur web et web mobile. Mon objectif final est de devenir ingénieur dans le développement web et de travailler dans le monde entier.</p>
        <p>Actuellement en formation bac+2 développeur web et web mobile, je suis à la recherche d'une alternance en tant que Concepteur-Développeur d’Applications en contrat de professionnalisation. La formation s'effectuera au sein de l'école <a href="https://lamanu.fr/formation-concepteur-developpeur-applications">La Manu d'amiens</a> et son rythme d'alternance est de 1 semaine en formation / 3 semaines en entreprise.</p>
        <p>Voici ci-joint mon cv papier.</p>
            <a href="images/Hassan derkaoui.pdf"><img src="images/cv.png" alt="CV papier">Mon cv papier!</a>
        </div>
    </div>
